# GitHub Actions Runner files
.runner
.path
.credentials
_work/
_diag/
bin/
externals/
run.sh
config.sh
env.sh
svc.sh
safe_sleep.sh
actions-runner-*.tar.gz

#Node.json/React
node_modules/
npm-debug.log
yarn-error.log
dist/
build/

#System
AppData/
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

#Python
__pycache__/
*.pyo 
*.pyc 
*.pyd

#Django
*.sqlite3
db.sqlite3
.env
staticfiles/
media/
.venv/

#Tset
coverage/
.cache/
*.bak
*.old

#IDE
.vscode/
.idea/

#Ssh
*.pem
*.key 
*.pub 
*.crt
id_rsa*
*rsa*

# Django migrations
*/migrations/*.py
!*/migrations/__init__.py